* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 10px;
}

.header {
	background-image: url(../images/mountains.jpg);
	background-size: 100%;
	background-position: top 20% left 0;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: space-between;
	box-shadow: -5px -10px 20px 0px #000;

	.img-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: -10;
	}
	.img-container {
		padding: 20px;

		img {
			width: 200px;
			height: 200px;
			border: solid 2px black;
			border-radius: 20px;
		}
	}
	.title {
		position: absolute;
		left: 30%;
		font-family: 'Dancing Script', cursive;
		align-self: center;
		margin: auto;
		font-size: 6rem;
		text-decoration: underline;
		text-decoration-color: green;
	}
}

.navigation {
	font-size: 2rem;
	padding: 10px;
	color: rgb(52, 62, 50);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-right: 40px;
	box-shadow: 0 0 20px 2px;

	.nav-link {
		position: relative;
		margin: 0 40px;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #fff;
		z-index: 1;
		top: 100%;
		left: 0;
		opacity: 0;
		transition: opacity 0.3s ease;
		font-size: 0.5em;
		line-height: 1.5;
		border-radius: 5px;
		border: 2px solid rgb(52, 62, 50);

		a {
			display: flex;
			padding: 10px;
			text-decoration: none;
			color: black;
			border-bottom: 1px solid;
		}
		a:hover {
			background-color: #d0e2cd;
		}
	}

	.nav-link:hover .dropdown-content {
		display: block;
		opacity: 1;
	}

	.show-dropdown {
		display: block;
		opacity: 1;
	}
}




@media screen and (max-width: 1280px) {
	.header {
		.title {
			font-size: 5rem;
		}
	}
}

main {
	margin-top: 40px;
	font-size: 2rem;
}

/* Styl dla sekcji z wstępem */
.intro-section {
	padding: 40px;
	text-align: center;
  }
  
  /* Styl dla nagłówka */
  .intro-header {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
  }
  
  /* Styl dla opisu */
  .intro-description {
	font-size: 18px;
	color: #555;
	margin-bottom: 30px;
  }
  







.swiper {
	margin-bottom: 20px;
	width: 90%;
	height: 500px;
	overflow: hidden;

	.swiper-wrapper {
		height: 500px;
		width: 100%;

		.swiper-slide {
			position: relative;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				max-width: 100%;
				border-radius: 10px;
			}
			.quote-container {
				background-color: rgba(0, 0, 0, 0.6);
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				max-width: 80%; /* Zmieniono szerokość kontenera na 80% */
				padding: 20px;
			}

			.quote {
				display: block;
				color: white;
				padding: 20px;
			}
		}
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 2em;
	}

	.swiper-button-prev::after {
		margin-left: 30px;
	}
	.swiper-button-next::after {
		margin-right: 30px;
	}
	.swiper-button-prev:hover,
	.swiper-button-next:hover {
		color: rgb(10, 28, 82);
	}
}

@media screen and (max-width: 992px) {
	.header {
		.title {
			font-size: 3.5rem;
			left: 35%;
		}
	}
	.navigation {
		font-size: 1.2rem;

		.dropdown-content {
			font-size: 1rem;
		}
	}

	.swiper {
		width: 100%;
		.swiper-wrapper {
			.swiper-slide {
				.quote-container {
					width: 100%;
				}
			}
		}
		.quote {
			font-size: 0.6em;
		}
		.swiper-button-prev::after {
			margin-left: 0;
		}
		.swiper-button-next::after {
			margin-right: 0;
		}
		.swiper-button-prev::after,
		.swiper-button-next::after {
			font-size: 1.6em;
		}
	}
}
@media screen and (max-width: 768px) {
	.header {
		.title {
			font-size: 2.5rem;
			left: 40%;
		}
	}
	.navigation {
		font-size: 1rem;

		.dropdown-content {
			font-size: 1rem;
		}
		.nav-link {
			margin: 0 20px;
		}
	}

	.swiper {
		width: 100%;
		.swiper-wrapper {
			.swiper-slide {
				.quote-container {
					max-width: 100%;
				}
			}
		}
		.quote {
			font-size: 0.3em;
		}
		.swiper-button-prev::after {
			margin-left: 0;
		}
		.swiper-button-next::after {
			margin-right: 0;
		}
		.swiper-button-prev::after,
		.swiper-button-next::after {
			font-size: 0.6em;
		}
	}
}

@media screen and (max-width: 576px) {
	.header {
		.title {
			display: none;
		}
	}
	.navigation {
		font-size: 0.8rem;

		.dropdown-content {
			font-size: 1em;
		}
		.nav-link {
			margin: 0 20px;
		}
	}

	.swiper {
		width: 100%;
		.swiper-wrapper {
			.swiper-slide {
				.quote-container {
					width: 100%;
				}
			}
		}
		.quote {
			font-size: 0.4em;
		}
		.swiper-button-prev::after {
			margin-left: 0;
		}
		.swiper-button-next::after {
			margin-right: 0;
		}
		.swiper-button-prev::after,
		.swiper-button-next::after {
			font-size: 0.6em;
		}
	}
}
